@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 32.3;
    font-style: normal;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.titulo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}