@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 32.3;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
/* Resetando margens e removendo sublinhado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Bebas Neue", sans-serif;
        text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 50px;
}

.kanban-selection {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.kanban-selection a {
    text-decoration: none;
    color: black;
    text-align: center;
    transition: transform 0.3s;
}

.kanban-selection img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.kanban-selection a:hover {
    transform: scale(1.1);
}
